.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
  }
  
  .header {
    background: #4f005f;
    padding: 1rem;
  }
  
  .header h2 {
    margin: 0;
    color: white;
  }
  
 .form {
    padding: 25px 20px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 }

 .form label {
    font-weight: bold;
 }
 
 .form input {
    height: 35px;
    width: 100%;
    background-color: rgb(228, 194, 228);
 }
  
  .actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  
  form .edit {
    width: 100px;
    margin-left: 82%;
    margin-top: 5%;
    font: inherit;
    border: 1px solid #4f005f;
    background: #4f005f;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  form button:hover,
  .button:active {
    background: #741188;
    border-color: #741188;
  }
  
  form button:focus {
    outline: none;
  }
  
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }

  @media (max-width: 750px) {
    form .edit {
      width: auto;
      padding: 0.25rem;
    }
  }